= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :product
    %br/
    = f.text_field :product
  = f.fields_for :customer do |customer_attributes|
    .field
      = customer_attributes.label :first_name
      %br/
      = customer_attributes.text_field :first_name
  .actions
    = f.submit 'Save'
